<h1>{{ title }}</h1>

<div *ngIf="!isLogged">
	<div *ngIf="isloginView" class="login-container">
		<div class="login-field">
			<label>Username: </label> <input type="text" title="Username" [(ngModel)]="loginUser!.username" required>
		</div>
		<div class="login-field">
			<label>Password: </label> <input type="password" title="Password" [(ngModel)]="loginUser!.password" required>
		</div>
		<button (click)="isloginView = false;">Go to register</button>
		<button class="btn-login" (click)="login()">Login</button>
	</div>

	<div *ngIf="!isloginView" class="register-container">
		<div class="register-field">
			<label>Username: </label> <input type="text" title="Username" [(ngModel)]="registerUser!.username" required>
		</div>
		<div class="register-field">
			<label>Email: </label> <input type="email" title="Email" [(ngModel)]="registerUser!.email" required>
		</div>
		<div class="register-field">
			<label>Password: </label> <input type="password" title="Password" [(ngModel)]="registerUser!.password" required>
		</div>
		<div class="register-field">
			<label>Confirm password: </label> <input type="password" title="Confirm password" [(ngModel)]="registerUser!.confirmPassword" required>
		</div>
		<button (click)="isloginView = true;">Go to login</button>
		<button class="btn-register" (click)="register()">Register</button>
	</div>
</div>

<div *ngIf="isLogged" class="contacts-container">
	<button *ngIf="!isAddPanelVisible" (click)="toggleAddPanel()" class="add-btn">+</button>

	<!-- Start :: add-panel -->
	<div *ngIf="isAddPanelVisible && contactToAdd" class="add-panel">
		<div class="edit-field">
			<label>Name: </label> <input type="text" title="Name" [(ngModel)]="contactToAdd.name"/>
		</div>
		<div class="edit-field">
			<label>Surname: </label> <input type="text" title="Surname" [(ngModel)]="contactToAdd.surname"/>
		</div>
		<div class="edit-field">
			<label>Age: </label> <input type="number" title="Age" [(ngModel)]="contactToAdd.age"/>
		</div>
		<div class="edit-field">
			<label>Phone number: </label> <input type="text" title="Phone number" [(ngModel)]="contactToAdd.phoneNumber"/>
		</div>
		<button (click)="aggiungiContatto()" class="card-btn">Aggiungi</button>
		<button (click)="toggleAddPanel()" class="card-btn">Annulla</button>
	</div>
	<!-- End :: add-panel -->

	<!-- Start :: contact-card -->
	<div class="contact-card" *ngFor="let contact of contacts">
		<!-- Start :: contact-card-view -->
		<div *ngIf="contact.isViewMode" class="contact-card-view">
			<div class="view-field">
				<label>Name: </label> <div class="field">{{ contact.name }}</div>
			</div>
			<div class="view-field">
				<label>Surname: </label> <div class="field">{{ contact.surname }}</div>
			</div>
			<div class="view-field">
				<label>Age: </label> <div class="field">{{ contact.age }}</div>
			</div>
			<div class="view-field">
				<label>Phone number: </label> <div class="field">{{ contact.phoneNumber }}</div>
			</div>
			
			<button *ngIf="this.isViewMode" (click)="toggleViewMode(contact)" class="card-btn">Modifica</button>
			<button *ngIf="this.isViewMode" (click)="eliminaContatto(contact)" class="card-btn">Elimina</button>
		</div>
		<!-- End :: contact-card-view -->

		<!-- Start :: contact-card-edit -->
		<div *ngIf="!contact.isViewMode && contactToEdit" class="contact-card-edit">
			<div class="edit-field">
				<label>Name: </label> <input type="text" title="Name" [(ngModel)]="contactToEdit.name"/>
			</div>
			<div class="edit-field">
				<label>Surname: </label> <input type="text" title="Surname" [(ngModel)]="contactToEdit.surname"/>
			</div>
			<div class="edit-field">
				<label>Age: </label> <input type="number" title="Age" [(ngModel)]="contactToEdit.age"/>
			</div>
			<div class="edit-field">
				<label>Phone number: </label> <input type="text" title="Phone number" [(ngModel)]="contactToEdit.phoneNumber"/>
			</div>
			<button (click)="salvaContatto(contact)" class="card-btn">Salva</button>
			<button (click)="toggleViewMode(contact)" class="card-btn">Annulla</button>
		</div>
		<!-- End :: contact-card-edit -->
	</div>
	<!-- End :: contact-card -->
</div>